
body{
    width:70%;
    margin:auto;
    text-align:center;
    background-color:coral;
}
label{
    color:white;
    font-size:18px;
}
h1{
    color:teal;
    font-size:50px;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}
input{
    text-align:right;
}
